<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "Person",
	"name": "Veronika Landsmanová",
	"givenName": "Veronika",
	"familyName": "Landsmanová",
	"additionalName": "Gréková",
	"jobTitle": "Social Media Consultant",
	"affiliation": {
		"@type": "Organization",
		"name": "Konektor Social",
		"legalName" : "Konektor Social s.r.o.",
		"url": "http://www.konektorsocial.cz/",
		"logo": "http://www.konektorsocial.cz/assets/img/logo.png",
	},
	"url": "https://www.landsmanova.cz",
	"address": {
		"@type": "PostalAddress",
		"streetAddress": "Koperníkova 1049/36",
		"addressLocality": "Plzeň",
		"postalCode": "30100",
		"addressCountry": "CZ"
	},
	"sameAs": [
		"https://www.linkedin.com/in/veronikagrekova",
		"https://www.facebook.com/veronika.grekova",
		"https://twitter.com/veru_gr",
		"https://plus.google.com/109474771919478632663/about",
		"https://cz.pinterest.com/verugr/",
		"https://foursquare.com/veru_gr"
	]
}
</script>