<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "Person",
	"name": "Veronika Gréková",
	"givenName": "Veronika",
	"familyName": "Gréková",
	"additionalName": "Landsmanová",
	"jobTitle": "Social Media Consultant, Project & Account Manager",
	"url": "https://www.grekova.cz",
	"sameAs": [
		"https://www.linkedin.com/in/veronikagrekova",
		"https://www.facebook.com/veronika.grekova",
		"https://twitter.com/veru_gr",
		"https://plus.google.com/109474771919478632663/about",
		"https://cz.pinterest.com/verugr/",
		"https://foursquare.com/veru_gr",
		"https://www.landsmanova.cz/"
	]
}
</script>